{% extends "base.html" %}
{% block body %}

<div class="{{ page.slug }}">

	<!--header-->

	 <div class="header">
		 <div class="headerImg">
			 <img src="/{{ page.extra.headerImg }}" alt="{{ page.extra.headerImgAlt }}">  
		 </div>

		 <div class="headerHeadline">
			 <h2>{{ page.extra.headerHeadline }}</h2>
		 </div>

		 <div class="headerMain">
			 {{ page.description | safe }}
		 </div>
	</div>

	 <!-- main -->
	 <div class="main">
		 <div class="content">
			 {{ page.content | safe }}
		 </div>
	 </div>

</div>

{% endblock body %}
